@import url("style.css");

#contenu {
height:647px ;
width:549px ;
margin:-648px 20px 20px 151px;
padding:20px -30px 0 30px ;
text-align : left ;
line-height: 120% ;
font-family:Verdana, Arial, Helvetica, sans-serif;
font-style:normal ;
font-size:16px ;
color:black ;
background-color:#2894F9 ;
display:block ;
text-indent:10px ;
}

h3 {
text-align:center ;
text-decoration:underline ;
}

h2 {
font-size:18px ;
}

#liens a {
height:50px ;
width:160px ;
display:block ;
background-color:grey ;
text-align:center ;
line-height:50px ;
color:white ;
background:url(themes/btn_2.png) no-repeat top center ;
text-decoration:none;
font-family:Verdana, Arial, Helvetica, sans-serif;
}

#liens a:hover {
text-decoration: underline; 
color: red ;
background-color:pink ;
}

#foot2 a {
text-decoration:none;
color:purple ;
}

#foot2 a:hover {
text-decoration: underline; 
color: blue ;
}